{% extends "base.html" %}

{% block title %}Новая Заметка{% endblock %}

{% block content %}
<h1>Создать новую заметку</h1>
<form method="POST">
    <label for="title"> Заголовок(Обязательно):</label>
    <input type="text" name="title" id="title" required placeholder="Например: Список покупок"><br><br>

    <label for="category">Категория:</label>
    <input type="text" name="category" id="category" required placeholder="Например: Дом"><br><br>

    <label for="content">Текст Заметки:</label>
    <textarea name="content" id="content" rows="10" placeholder="Пиши здесь..."></textarea><br><br>

    <button type="submit" class="btn">Сохранить</button>
    <a href="/notes">Вернуться</a>
</form>
{% endblock %}